.footer {
  background-color: getColor('ternary-bg');
  color: getColorInverted('primary-text');
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: $gap_4x;
  padding-bottom: $gap_4x;

  @include respond-from-min('desktop') {
    padding-top: $gap_2x;
    padding-bottom: $gap_2x;
  }

  &__container {
    max-width: getWidth('mobileBox');
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    @include respond-from-min('desktop') {
      display: flex;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.address {
  margin-bottom: $gap_4x;

  @include respond-from-min('desktop') {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
