.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: get-color('ternary-bg');
  color: get-color-inverted('primary-text');
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__container {
    display: flex;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.address {
  width: 231px;
  margin-right: 70px;
}
