.hero {
  background-color: getColor('ternary-bg');
  background-image: linear-gradient(to bottom, $hero-gradient, $hero-gradient),
    url('../images/hero_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;

  @include respond-to-min('desktop') {
    max-width: 1600px;
    margin: 0 auto;
  }

  &__container {
    padding: 118px 60px;

    @include respond-to-min('desktop') {
      padding: 200px 0;
      width: 696px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;

    color: getColorInverted('primary-text');

    font-weight: 900;
    font-size: 26px;
    line-height: 1, 61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include respond-to-min('tablet') {
      font-size: 44px;
      line-height: 1.3;
    }
  }
}
