.header {
  color: get-color('ternary-text');
  border-bottom: 1px solid get-color('border');

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
}
