.partners {
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 0px;
    margin-bottom: negativeMargin($gap_2x);
    margin-left: negativeMargin($gap_2x);
  }

  &__items {
    margin-bottom: $gap_2x;
    margin-left: $gap_2x;
    flex-basis: flexElementWidth($gap_2x, 2);
    height: flexElementWidth($gap_2x, 3);
  }

  // Partners links & icons
  &__link {
    display: flex;
    align-items: center;
    padding: 16px 0;

    border-radius: 4px;
    border: 1px solid getColor('ternary-buttons');
    color: getColor('ternary-buttons');
    transition: color 250ms $cubic, border-color 250ms $cubic;
    margin: 0;
  }

  &__link:hover,
  &__link:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }

  &__icon {
    fill: currentColor;
    // width: 106px;
    height: 60px;
  }

  // Tablet styles
  @include respond-from-min('mobile') {
    &__list {
      justify-content: center;
    }
  }

  // Desktop styles
  @include respond-from-min('tablet') {
    &__list {
      flex-wrap: nowrap;
    }

    &__item {
      flex-basis: 170px;
      margin-left: 0;
      margin-bottom: 0;
    }

    &__items:not(:last-child) {
      // margin-bottom: 30px;
      margin-right: $gap_2x;
    }

    &__link {
      width: 170px;
    }

    &__icon {
      height: 50px;
    }
  }
}
