.partners {
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include respond-to-min('tablet') {
      justify-content: center;
    }

    @include respond-to-min('desktop') {
      flex-wrap: nowrap;
    }

    margin-top: 0px;
    margin-bottom: -30px;
    margin-left: -30px;
  }

  &__items {
    margin-bottom: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
    height: calc(100% / 3 - 30px);
    @include respond-to-min('desktop') {
      flex-basis: 170px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &__items:not(:last-child) {
    // margin-bottom: 30px;
    @include respond-to-min('desktop') {
      margin-right: 30px;
    }
  }

  // Partners links & icons
  &__link {
    display: flex;
    align-items: center;
    padding: 16px 0;
    @include respond-to-min('desktop') {
      width: 170px;
    }
    border-radius: 4px;
    border: 1px solid getColor('ternary-buttons');
    color: getColor('ternary-buttons');
    transition: color 250ms $cubic, border-color 250ms $cubic;
    margin: 0;
  }

  &__link:hover,
  &__link:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }

  &__icon {
    fill: currentColor;
    // width: 106px;
    height: 60px;
    @include respond-to-min('desktop') {
      height: 50px;
    }
  }
}
