.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: get-color('secondary-text');
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
