.section {
  padding: $gap_2x 0;

  // Desktop styles
  @include respond-from-min('desktop') {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: getColor('secondary-text');
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

// Wrapper
.container {
  padding-left: $gap_1x;
  padding-right: $gap_1x;

  max-width: getWidth('mobile');
  margin-left: auto;
  margin-right: auto;

  @include respond-from-min('tablet') {
    max-width: getWidth('tablet');

    margin-left: auto;
    margin-right: auto;
  }

  @include respond-from-min('desktop') {
    max-width: getWidth('desktop');
  }
}
