.spam {
  @include respond-from-min('tablet') {
    margin-top: $gap_4x;

  }
  @include respond-from-min('desktop') {
    margin-top: 0;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-from-min('desktop') {
    flex-direction: row;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;
    @include respond-from-min('tablet') {
      width: getWidth('mobileBox');
    }
    @include respond-from-min('desktop') {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
    padding: $gap_1x 16px;

    background-color: transparent;
    border: 1px solid $border-medium;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px $shadow-button);
    border-radius: 4px;

    color: $footer-links-color;
    font-size: 16px;
    line-height: 1.25;
  }

  &__input:focus {
    color: getColor('primary-bg');
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 13px 29px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: getColor('primary-bg');
  }
}
