.join {
  margin-bottom: $gap_2x;

  @include respond-from-min('desktop') {
    width: 206px;
    margin-right: 93px;
    margin-bottom: 0;
  }

  &__social {
    display: flex;

    @include respond-to-max('tablet') {
      justify-content: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    background: $social-bg;
  }

  &__link .social__icon {
    color: getColorInverted('primary-text');
  }
}
