.join {
  width: 206px;
  margin-right: 93px;

  &__social {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    background: $social-bg;
  }

  &__link .social__icon {
    color: get-color-inverted('primary-text');
  }
}
