.menu {
  font-weight: 500;
  letter-spacing: 0.02em;

  .navigation,
  .contacts,
  .menu-social {
    display: none;
  }

  &.is-open .navigation {
    display: block;
  }

  // Contacts
  &.is-open .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  &.is-open .contacts__item:last-child {
    margin-bottom: 32px;
  }

  &.is-open .contacts__item:last-child .contacts__link {
    color: getColor('accent');
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  &.is-open .contacts__item:not(:last-child) .contacts__link {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  // Social
  &.is-open .menu-social {
    display: flex;
  }

  &.is-open .menu-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .menu-social__link {
    color: getColor('accent');
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
  }

  &.is-open {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: getColor('primary-bg');
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  // Site nav
  &__link {
    font-size: 40px;
    line-height: 1.17;
    color: getColor('secondary-text');
    // transition: color 250ms $cubic;
    @include transition(color);
    text-decoration: none;
  }

  &__link--current,
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
  }

  // Menu Button
  &__button {
    position: absolute;
    top: 10px;
    right: $gap_1x;

    width: 40px;
    height: 40px;

    @include centered-flex();
    margin: 0;

    border: none;
    background-color: transparent;
  }

  &__button:hover,
  &__button:focus {
    fill: getColor('accent');
  }

  // Icons
  &__icon {
    width: 24px;
    height: 16px;
  }

  &__button .icon-cross {
    display: none;
  }

  &__button.is-open .icon-cross {
    display: block;
    width: 11px;
    height: 11px;
  }

  &__button.is-open .icon-burger {
    display: none;
  }
}

// Desktop styles
@include respond-from-min('tablet') {
  .navigation,
  .contacts,
  .menu-social {
    display: flex;
  }

  &__list {
    display: flex;
    margin-left: 90px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  // Site nav
  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.14;
  }

  // Blue bar
  &__link--current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    content: '';
    background-color: getColor('accent');
    // transition: opacity 250ms $cubic;
    @include transition(opacity);
    opacity: 1;
  }

  &__button {
    display: none;
  }
}
