body {
  background: getColor('primary-bg');
  color: getColor('primary-text');

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;

}

// Wrapper
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respond-to-min('mobile') {
    width: getWidth('mobile');
  }

  @include respond-to-min('tablet') {
    width: getWidth('tablet');
  }

  @include respond-to-min('desktop') {
    max-width: 1200px;
  }
}

@import './reset';
