body {
  display: flex;
  flex-direction: column;
  background: getColor('primary-bg');
  color: getColor('primary-text');

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  @media (min-width: 800px) {
    background-color: getColor('secondary-bg');
  }
}

// Wrapper
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@import './reset';
